In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/populasi.xlsx")
df

         Kota Tingkat_Populasi
0     Jakarta           Tinggi
1       Depok           Sedang
2       Bogor           Tinggi
3     Bandung           Tinggi
4     Bumiayu           Rendah
5   Ajibarang           Rendah
6  Purwokerto           Sedang
7  Yogyakarta           Sedang
8      Klaten           Rendah
9        Bali           Tinggi

In [ ]:
y = OneHotEncoder(sparse=False)
y = y.fit_transform(df[['Kota']])
y

array([[0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
df_y = pd.DataFrame(y)
df_y

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
5  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
7  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
8  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
9  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [ ]:
header = df['Kota'].sort_values()
df_y.columns = 'Kota_'+header
df_y

Kota  Kota_Ajibarang  Kota_Bali  ...  Kota_Purwokerto  Kota_Yogyakarta
0                0.0        0.0  ...              0.0              0.0
1                0.0        0.0  ...              0.0              0.0
2                0.0        0.0  ...              0.0              0.0
3                0.0        0.0  ...              0.0              0.0
4                0.0        0.0  ...              0.0              0.0
5                1.0        0.0  ...              0.0              0.0
6                0.0        0.0  ...              1.0              0.0
7                0.0        0.0  ...              0.0              1.0
8                0.0        0.0  ...              0.0              0.0
9                0.0        1.0  ...              0.0              0.0

[10 rows x 10 columns]

In [ ]:
df_join = df.join(df_y)
df_join

         Kota Tingkat_Populasi  ...  Kota_Purwokerto  Kota_Yogyakarta
0     Jakarta           Tinggi  ...              0.0              0.0
1       Depok           Sedang  ...              0.0              0.0
2       Bogor           Tinggi  ...              0.0              0.0
3     Bandung           Tinggi  ...              0.0              0.0
4     Bumiayu           Rendah  ...              0.0              0.0
5   Ajibarang           Rendah  ...              0.0              0.0
6  Purwokerto           Sedang  ...              1.0              0.0
7  Yogyakarta           Sedang  ...              0.0              1.0
8      Klaten           Rendah  ...              0.0              0.0
9        Bali           Tinggi  ...              0.0              0.0

[10 rows x 12 columns]

In [ ]:
labelencoder = LabelEncoder()
df_join['Tingkat_Populasi'] = labelencoder.fit_transform(df_join['Tingkat_Populasi'])

In [ ]:
df_join

         Kota  Tingkat_Populasi  ...  Kota_Purwokerto  Kota_Yogyakarta
0     Jakarta                 2  ...              0.0              0.0
1       Depok                 1  ...              0.0              0.0
2       Bogor                 2  ...              0.0              0.0
3     Bandung                 2  ...              0.0              0.0
4     Bumiayu                 0  ...              0.0              0.0
5   Ajibarang                 0  ...              0.0              0.0
6  Purwokerto                 1  ...              1.0              0.0
7  Yogyakarta                 1  ...              0.0              1.0
8      Klaten                 0  ...              0.0              0.0
9        Bali                 2  ...              0.0              0.0

[10 rows x 12 columns]